@import "../../../assets/styles/colors.less";
@import "../../../assets/styles/global.less";

.sidebar {
  &-wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: @sideBarWidth;
    background-color: @color-primary;
    height: 100vh;
    flex-shrink: 0;
    z-index: 100;
  }

  &-title {
    color: @color-green;
    font-family: "RazerF5";
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    max-height: 24px;
    margin: 24px 0 10px;
    padding-left: 30px;
    padding-right: 20px;
  }
}
