@import "../../../../../assets/styles/colors.less";

.toolbar {
  &-wrapper {
    display: flex;
    width: 240px;
  }

  &-actions-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: 10px 0;

    &--item {
      cursor: pointer;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;
      color: @color-83;
      transition: color 0.3s ease-in;

      &:hover {
        color: @color-bb;
        box-shadow: 0 0 1px @color-bb;
      }
    }

    &--item.disabled {
      pointer-events: none;
      cursor: text;
      color: @color-3e;
      opacity: 0.7;
    }
  }
}
