@import "../../../assets/styles/colors.less";

.razer-input-wrapper {
  display: flex;
  flex-direction: column;
}

.razer-input {
  background-color: @color-accent;
  border: none;
  font-size: 14px;
  padding: 12px 18px;
  margin: 10px 0 22px;
  color: white;
  border: 1px solid transparent;
}

.razer-input.error {
  border: 1px solid @color-red;
}

.razer-input--help {
  font-size: 12px;
  color: @color-red;
  margin-top: -14px;
}
