@import "../../../assets/styles/colors.less";
@import "../../../assets/styles/global.less";

.header {
  &-wrapper {
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-left: @sideBarWidth;
    background-color: @color-primary;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: @minWidth;
  }

  &-logo {
    &-wrapper {
      display: flex;
      justify-content: center;

      img {
        height: 14px;
      }
    }
  }

  &-authorization-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 25px;
  }
}
