.auth-actions {
  display: flex;

  &__profile {
    display: flex;
    justify-content: center;
    align-items: center;

    &-img {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background: url("https://dbq9ithrljsz0.cloudfront.net/d966f75881bef4c385c2ebf7c4de83c3da2e7bd513063a3acbf3707475bc11e5.jpg");
      margin-right: 10px;
    }

    &-name {
      font-family: "RazerF5";
      max-width: 100px;
    }
  }
}
