@import "../../../assets/styles/colors.less";

.razer-btn {
  cursor: pointer;
  padding: 10px 30px;
  font-size: 14px;
  border: none;
  border-radius: 20px;
}

.razer-btn.delete {
  color: white;
  background-color: @color-red;
}
